* {
    margin: 0;
    padding: 0;
}

app-container, h1 {
    font-size: 200px;
    color: white;
    font-family: "Cinzel", sans-serif;
}

.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gen-mot-q {
    display: flex;
    margin-top: -30px;
    justify-content: center;
    width: 600px;
}

footer {
    color: rgb(72, 72, 72);
    display: flex;
    justify-content: center;    
    align-items: flex-end;       
    height: 100vh;               
}

a {
    text-decoration: none;
}